._5upp{background-color:transparent;border:0 none;cursor:pointer;font-size:0 !important;overflow:hidden;padding:0;vertical-align:middle}.highContrast ._5upp{font-size:11px !important;height:auto;width:auto}

#bootloader_SUkSU{height:42px;}.bootloader_SUkSU{display:block!important;}